<div class="container">
  <div class="row">
    <div class="col">
      <div class="toolbar">
        <div class="btn-group">
          <button class="btn"><i class="fa fa-plus"></i></button>
          <button class="btn"><i class="fa fa-filter"></i></button>
        </div>
        <div class="searchbox">
          <input type="text" class="form-control">
          <button type="submit" class="btn"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="message-list">List of messages</div>
    </div>
    <div class="col-l">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
